# Tarefa 01: 

Montar a dupla de trabalho e escolher a base de dados. Anexar um pdf contendo o nome da dupla e a descrição em uma linha do que se refere a base de dados e a quantidade de observações que a compõe. 

Instituição: Pontifícia Universidade Católica de Minas Gerais

Alunos: 

1. Alessandro Augusto Bezerra
1. Vitor Fernando de Souza Rodrigues

Disciplina: Séries Temporais

Docente: Patrícia de Sousa Ilambwetsi

O grupo escolheu a base de dados histórica das transações realizada na ação [ibovespa](https://www.kaggle.com/datasets/felsal/ibovespa-stocks) negociada no [mercado financeiro B3](https://www.b3.com.br/pt_br/para-voce) nos anos 1994 até 2020.

## Importação de Bibliotecas

In [1]:
import subprocess
import sys

def install_and_import(package):
    ''' Função checa se biblioteca já se encontra instalada. Em caso negativo, ela instala e importa.
    '''
    try:
        __import__(package)
        print(f"{package} já está instalado.")
    except ImportError:
        print(f"{package} não está instalado. Instalando...")
        subprocess.check_call([sys.executable, "-m", "pip", "install", package])
        print(f"{package} foi instalado com sucesso!")

In [2]:
# Importação de bibliotecas
install_and_import('os')
install_and_import('pandas')
install_and_import('kaggle')

import os
import pandas as pd
from kaggle.api.kaggle_api_extended import KaggleApi

os já está instalado.
pandas já está instalado.
kaggle já está instalado.

## Download de Datasets

In [3]:
# Inicializa a API do Kaggle
api = KaggleApi()
api.authenticate()

# Define o caminho para salvar o dataset
dataset_path = "ibovespa-stocks"
download_path = f"./{dataset_path}"

# Baixa o dataset de ações da Bovespa
api.dataset_download_files('felsal/ibovespa-stocks', path=download_path, unzip=True)

# Lista os arquivos baixados
files = os.listdir(download_path)
print("Arquivos baixados:", files)

# Carrega os datasets em variáveis do Pandas
# Exemplo: carregar todos os arquivos CSV em um dicionário de DataFrames
dataframes = {file: pd.read_csv(f"{download_path}/{file}") for file in files if file.endswith('.csv')}

# # Exemplo: imprimir as primeiras linhas de um dos datasets
# for name, df in dataframes.items():
#     print(f"Primeiras linhas de {name}:")
#     print(df.head())

Dataset URL: https://www.kaggle.com/datasets/felsal/ibovespa-stocks
Arquivos baixados: ['b3_stocks_1994_2020.csv', 'selic.csv', 'usd2brl.csv']

Renomeando os dataframes

In [4]:
stocks = dataframes['b3_stocks_1994_2020.csv']
selic = dataframes['selic.csv']
usd2brl = dataframes['usd2brl.csv']

## Séries Temporais

### Ações do Ibovespa

In [5]:
stocks.tail()

           datetime  ticker    open   close    high     low    volume
1883198  2020-12-28  Z1TO34   36.72   36.72   36.72   36.72   1358.64
1883199  2020-12-29  Z1TO34   36.31   36.31   36.31   36.31   3631.00
1883200  2020-12-30  Z1TO34   38.09   37.50   38.09   37.50   2295.17
1883201  2020-12-23  Z1TS34  209.18  209.18  209.18  209.18  10459.00
1883202  2020-12-28  Z1TS34  212.14  213.59  213.59  212.14    425.73

In [6]:
stocks.shape

(1883203, 7)

### Valores da Selic

In [7]:
selic.tail()

        datetime     selic
6646  2020-12-24  0.000075
6647  2020-12-28  0.000075
6648  2020-12-29  0.000075
6649  2020-12-30  0.000075
6650  2020-12-31  0.000075

In [8]:
selic.shape

(6651, 2)

### Conversões do dolar

In [9]:
usd2brl.tail()

        datetime  usd_brl
6646  2020-12-24   5.1800
6647  2020-12-28   5.2390
6648  2020-12-29   5.1942
6649  2020-12-30   5.1967
6650  2020-12-31   5.1967

In [10]:
usd2brl.shape

(6651, 2)