#  Criando DataFrames para Análise de Dados
***


O gerenciamento de dados é uma tarefa crítica em qualquer projeto de análise de dados. Para trabalhar com dados de forma eficiente no Python, é fundamental que sejam utilizadas as estruturas de dados apropriadas. O dataframe do Pandas é uma dessas estruturas de dados muito utilizadas na análise de dados em Python.

Um dataframe é uma tabela bidimensional que permite armazenar e manipular dados com facilidade. Cada coluna em um dataframe representa uma variável e cada linha representa uma observação. Com um dataframe, é possível realizar operações como selecionar, filtrar, agregar, transformar e visualizar dados de forma simples e eficiente.

O objetivo de criar um dataframe é organizar e gerenciar os dados de uma forma que seja fácil de manipular e entender. A partir disso, é possível realizar análises mais complexas e obter insights valiosos a partir dos dados. O uso de dataframes é fundamental em áreas como ciência de dados, análise de negócios, finanças, marketing, entre outras. Portanto, entender como criar e trabalhar com dataframes é essencial para qualquer profissional que trabalhe com dados em Python.

### Importação das bibliotecas

In [1]:
import numpy as np
import pandas as pd

### Como criar um DataFrame a partir de um array NumPy em Python

In [2]:
# Criando um dataframe a partir de um array do Numpy
array_vendas = np.array([['Leandro', 'Carne', np.random.randint(1, 6),np.round(np.random.uniform(10.0, 45.0),2)],
                         ['Daniele', 'Macarrão', np.random.randint(1, 6),np.round(np.random.uniform(3.0, 15.0),2)],
                         ['João', 'Arroz', np.random.randint(1, 6),np.round(np.random.uniform(5.0, 30.0),2)],
                         ['Roberta', 'Feijão', np.random.randint(1, 6),np.round(np.random.uniform(5.0, 15.0),2)],
                         ['Jessica', 'Carne', np.random.randint(1, 6),np.round(np.random.uniform(10.0, 45.0),2)],
                        ])

df1 = pd.DataFrame(array_vendas, columns=['Cliente', 'Produto', 'Quantidade', 'Valor_Unitário'])
df1

   Cliente   Produto Quantidade Valor_Unitário
0  Leandro     Carne          4          39.96
1  Daniele  Macarrão          3           8.58
2     João     Arroz          4          21.23
3  Roberta    Feijão          1           7.05
4  Jessica     Carne          5          31.83

### Como criar um dataframe a partir de uma lista em Python

In [3]:
# Criando um dataframe a partir de uma lista de listas
lista_vendas = [['João', 'Arroz', 2, 10.50],
                ['Maria', 'Feijão', 3, 8.00],
                ['Pedro', 'Carne', 1, 25.00],
                ['Ana', 'Frango', 2, 15.00],
                ['Luiza', 'Leite', 4, 5.00],
                ['Paulo', 'Arroz', 1, 10.50],
                ['Fernanda', 'Feijão', 2, 8.00],
                ['Ricardo', 'Carne', 3, 25.00],
                ['Carlos', 'Frango', 1, 15.00],
                ['Sara', 'Leite', 2, 5.00]]

df2 = pd.DataFrame(lista_vendas, columns=['Cliente', 'Produto', 'Quantidade', 'Valor_Unitário'])
df2

    Cliente Produto  Quantidade  Valor_Unitário
0      João   Arroz           2            10.5
1     Maria  Feijão           3             8.0
2     Pedro   Carne           1            25.0
3       Ana  Frango           2            15.0
4     Luiza   Leite           4             5.0
5     Paulo   Arroz           1            10.5
6  Fernanda  Feijão           2             8.0
7   Ricardo   Carne           3            25.0
8    Carlos  Frango           1            15.0
9      Sara   Leite           2             5.0

### Como criar um dataframe a partir de um discionário em Python

In [4]:
# Criando um dataframe a partir de um dicionário
dict_vendas = {'Cliente': ['João', 'Maria', 'Pedro', 'Ana', 'Luiza', 'Paulo', 'Fernanda', 'Ricardo', 'Carlos', 'Sara'],
               'Produto': ['Arroz', 'Feijão', 'Carne', 'Frango', 'Leite', 'Arroz', 'Feijão', 'Carne', 'Frango', 'Leite'],
               'Quantidade': [2, 3, 1, 2, 4, 1, 2, 3, 1, 2],
               'Valor_Unitário': [10.50, 8.00, 25.00, 15.00, 5.00, 10.50, 8.00, 25.00, 15.00, 5.00]}

# Visualizando dicionário de vendas 
print(dict_vendas)

df3 = pd.DataFrame(dict_vendas)
df3

{'Cliente': ['João', 'Maria', 'Pedro', 'Ana', 'Luiza', 'Paulo', 'Fernanda', 'Ricardo', 'Carlos', 'Sara'], 'Produto': ['Arroz', 'Feijão', 'Carne', 'Frango', 'Leite', 'Arroz', 'Feijão', 'Carne', 'Frango', 'Leite'], 'Quantidade': [2, 3, 1, 2, 4, 1, 2, 3, 1, 2], 'Valor_Unitário': [10.5, 8.0, 25.0, 15.0, 5.0, 10.5, 8.0, 25.0, 15.0, 5.0]}

    Cliente Produto  Quantidade  Valor_Unitário
0      João   Arroz           2            10.5
1     Maria  Feijão           3             8.0
2     Pedro   Carne           1            25.0
3       Ana  Frango           2            15.0
4     Luiza   Leite           4             5.0
5     Paulo   Arroz           1            10.5
6  Fernanda  Feijão           2             8.0
7   Ricardo   Carne           3            25.0
8    Carlos  Frango           1            15.0
9      Sara   Leite           2             5.0

In [5]:
dict_vendas

{'Cliente': ['João',
  'Maria',
  'Pedro',
  'Ana',
  'Luiza',
  'Paulo',
  'Fernanda',
  'Ricardo',
  'Carlos',
  'Sara'],
 'Produto': ['Arroz',
  'Feijão',
  'Carne',
  'Frango',
  'Leite',
  'Arroz',
  'Feijão',
  'Carne',
  'Frango',
  'Leite'],
 'Quantidade': [2, 3, 1, 2, 4, 1, 2, 3, 1, 2],
 'Valor_Unitário': [10.5, 8.0, 25.0, 15.0, 5.0, 10.5, 8.0, 25.0, 15.0, 5.0]}

In [6]:
lista_dict = []

registro_1 = {"nome": "Leandro", 
               "idade": 30, 
               "cidade": "Belo Horizonte"}

registro_2 = { "nome": "Daniele", 
               "idade": 26, 
               "cidade": "Porto Alegre"}

lista_dict.append(registro_1)
lista_dict.append(registro_2)

# Visualizando lista 

df4 = pd.DataFrame(lista_dict)
df4

      nome  idade          cidade
0  Leandro     30  Belo Horizonte
1  Daniele     26    Porto Alegre