# Estruturas de Dados
****
As estruturas de dados desempenham um papel fundamental na organização e manipulação de informações em qualquer linguagem de programação. Em Python, uma linguagem conhecida por sua simplicidade e flexibilidade, uma variedade de estruturas de dados está disponível para lidar com diferentes necessidades de armazenamento e processamento de dados.

Nesta aula, exploraremos algumas das estruturas de dados mais comuns em Python, incluindo listas, tuplas, conjuntos, dicionários, séries e dataframes. Cada uma dessas estruturas possui características únicas que a tornam adequada para diferentes tipos de tarefas.
***

##### Lista (list)

As listas em Python são estruturas de dados fundamentais que permitem armazenar coleções ordenadas de itens. Elas são mutáveis, o que significa que você pode adicionar, remover e modificar elementos após a criação da lista. As listas são muito versáteis e são amplamente utilizadas em programação Python para armazenar e manipular conjuntos de dados.

O tipo de dados lista é utilizado para representar uma sequência **mutável** de valores. Uma lista é criada colocando valores separados por vírgulas entre colchetes. Os valores podem ser de qualquer tipo.

In [39]:
lista_numeros = [10, 20, 30, 40, 50]

Acesso a Elementos 

Para acessar elementos individuais em uma lista, utilize índices começando do 0.

In [40]:
print(f'O primeiro elemento da lista e: {lista_numeros[0]}')
print(f'O último elemento da lista e: {lista_numeros[-1]}')

O primeiro elemento da lista e: 10
O último elemento da lista e: 50

In [41]:
lista_nomes = ['priscila', 'leandro', 'joao']
for nome in lista_nomes:
    print(f'Inserindo no banco de dados a pessoa: {nome}')
    query = f'insert into tb_pessoas(pessoas) values ({nome})'
    print(query)

Inserindo no banco de dados a pessoa: priscila
insert into tb_pessoas(pessoas) values (priscila)
Inserindo no banco de dados a pessoa: leandro
insert into tb_pessoas(pessoas) values (leandro)
Inserindo no banco de dados a pessoa: joao
insert into tb_pessoas(pessoas) values (joao)

Adição de Elementos

Adicione elementos ao final da lista com append() ou insira em uma posição específica com insert().

In [42]:
lista_numeros.append(14)

In [43]:
lista_numeros.insert(1, 15)
print(lista_numeros)

[10, 15, 20, 30, 40, 50, 14]

Remoção de Elementos

Remova elementos com del, remove() ou pop().

In [44]:
del lista_numeros[2]

In [45]:
lista_numeros

[10, 15, 30, 40, 50, 14]

In [46]:
lista_numeros.remove(10)

In [47]:
lista_numeros

[15, 30, 40, 50, 14]

In [48]:
lista_numeros.pop()

14

In [49]:
lista_numeros

[15, 30, 40, 50]

In [50]:
lista_numeros_novas = [20, 15, 10, 2, 15]

Concatenação de Listas

Concatene listas com o operador +.

In [51]:
nova_lista = lista_numeros + lista_numeros_novas + lista_nomes

Fatiamento (Slicing)

Extraia partes da lista usando a notação de fatiamento.

In [52]:
nova_lista[1:5]

[30, 40, 50, 20]

In [53]:
nova_lista[2:-1]

[40, 50, 20, 15, 10, 2, 15, 'priscila', 'leandro']

Ordenação

Ordene os elementos de uma lista com sort() e inverta a ordem com reverse().

In [54]:
lista_numeros.append(1)
lista_numeros.append(3)
lista_numeros.append(75)
lista_numeros

[15, 30, 40, 50, 1, 3, 75]

In [55]:
lista_numeros

[15, 30, 40, 50, 1, 3, 75]

In [56]:
lista_ordenada_crescente = lista_numeros.sort()
lista_ordenada_crescente

In [57]:
lista_ordenada_decrescente = lista_numeros.reverse()
lista_ordenada_decrescente

Busca de Elementos

Verifique a presença de um elemento com in ou conte ocorrências com count().

In [58]:
novos_alunos = ['vitor', 'eduardo', 'irla']

In [59]:
for aluno in novos_alunos:
    lista_nomes.append(aluno)

print(lista_nomes)

['priscila', 'leandro', 'joao', 'vitor', 'eduardo', 'irla']

In [62]:
# procurando nome
if 'Vitor' in lista_nomes:
    print('Está na lista')
else:
    print('Não está na lista')

Não está na lista

In [63]:
novos_alunos.count('vitor')

1

***

##### Tupla (tuple)
O tipo de dados tupla é utilizado para representar uma sequência **imutável** de valores. Uma tupla é criada colocando valores separados por vírgulas entre parênteses. Os valores podem ser de qualquer tipo.

1. O uso de tuplas em Python é muito comum quando se deseja armazenar um conjunto de valores que não devem ser modificados.

2. As tuplas são utilizadas em diversas situações, como por exemplo, na representação de coordenadas geográficas (latitude e longitude), na definição de cores em sistemas de design gráfico, na criação de jogos que requerem o armazenamento de posições de elementos em uma grade, entre outros.

Criação de uma Tupla

Para criar uma tupla, você pode usar parênteses e separar os elementos por vírgulas.

In [68]:
tupla = (1, 5, 8, 10)
tupla

(1, 5, 8, 10)

Acesso a Elementos

Os elementos de uma tupla são acessados por índices, começando do 0.

In [69]:
tupla[-1]

10

Fatiamento (Slicing) de uma Tupla

Você pode extrair partes de uma tupla usando a notação de fatiamento.

In [70]:
tupla[-2:]

(8, 10)

Concatenação de Tuplas

Concatene tuplas usando o operador +.

In [72]:
tupla_nomes = ('Leandro', 'Vitor')

tupla_nova = tupla + tupla_nomes

Imutabilidade

Tentativas de modificar elementos de uma tupla resultarão em erro.

In [73]:
tupla_nova[0] = 10

TypeError: 'tuple' object does not support item assignment

In [74]:
lista_tuplas = [('Leandro', 18), ('Joao', 20)]

In [77]:
lista_tuplas[0][1]

18

***

##### Dicionário (dict)
O tipo de dado dicionário (dict) em Python é uma estrutura de dados que armazena valores em pares de chave-valor.

Os dicionários em Python são estruturas de dados que permitem armazenar pares chave-valor, onde cada valor é associado a uma chave única. Eles são muito úteis para representar dados estruturados e indexados por chaves significativas, facilitando o acesso e a manipulação dos dados. Aqui estão algumas características importantes dos dicionários


- Chaves Únicas: Cada chave em um dicionário é única, o que significa que não pode haver duas chaves iguais no mesmo dicionário. No entanto, os valores associados às chaves podem ser duplicados.

- Mutabilidade: Os dicionários são mutáveis, o que significa que você pode adicionar, modificar e remover pares chave-valor após a criação do dicionário.

- Flexibilidade: Os valores em um dicionário podem ser de qualquer tipo de dado, incluindo inteiros, strings, floats, listas, tuplas, conjuntos, outros dicionários e até mesmo funções.

- Indexação por Chaves: Os elementos em um dicionário são acessados não por índices numéricos, como em listas e tuplas, mas sim por meio de chaves significativas.

Criação de um Dicionário

Para criar um dicionário, você pode usar chaves {} e especificar pares chave-valor separados por vírgulas.

In [78]:
pessoa = {
    'nome': 'vitor',
    'idade': 30,
    'cidade': 'BH'
}

In [79]:
pessoa

{'nome': 'vitor', 'idade': 30, 'cidade': 'BH'}

Acesso a Elementos por Chave

Os elementos em um dicionário são acessados por suas chaves.

In [80]:
pessoa['nome']

'vitor'

Adição de Novos Pares Chave-Valor

Você pode adicionar novos pares chave-valor a um dicionário atribuindo um valor a uma nova chave.

In [81]:
pessoa['profissão'] = 'Cientista de dados'

Modificação de Valores de Chaves Existentes

Você pode modificar o valor associado a uma chave existente atribuindo um novo valor a essa chave.

In [82]:
pessoa['nome'] = 'Leandro'

In [83]:
pessoa

{'nome': 'Leandro',
 'idade': 30,
 'cidade': 'BH',
 'profissão': 'Cientista de dados'}

Remoção de Pares Chave-Valor

Você pode remover pares chave-valor de um dicionário usando o comando del seguido da chave que deseja remover.

In [84]:
del pessoa['cidade']

In [86]:
pessoa

{'nome': 'Leandro', 'idade': 30, 'profissão': 'Cientista de dados'}

Iteração sobre Chaves e Valores

Você pode iterar sobre as chaves, os valores ou ambos em um dicionário usando loops for.

In [87]:
for chave in pessoa:
    print(chave)

nome
idade
profissão

In [89]:
for valor in pessoa.values():
    print(valor)

Leandro
30
Cientista de dados

In [90]:
for chave, valor in pessoa.items():
    print(f'chave: {chave}\nvalor:{valor}')

chave: nome
valor:Leandro
chave: idade
valor:30
chave: profissão
valor:Cientista de dados

Criando uma lista de dicionários

As listas de dicionários são úteis para armazenar e manipular coleções de registros com vários campos. Elas podem ser usadas em muitas aplicações, como por exemplo:

- Banco de dados em memória: podem ser usadas para armazenar dados em memória, como se fosse um banco de dados.

- Análise de dados:  podem ser usadas para armazenar dados de pesquisa, tais como resultados de experimentos científicos ou pesquisas de mercado.

- Processamento de texto: podem ser usadas para armazenar dados de texto, tais como resultados de análise de sentimento ou de mineração de dados.

- Configurações de aplicativos: podem ser usadas para armazenar configurações de aplicativos e preferências do usuário.

In [92]:
lista_pessoas = []
pessoa = {
    'nome': 'vitor',
    'idade': 30,
    'cidade': 'BH'
}
lista_pessoas.append(pessoa)

In [95]:
pessoa2 = {
    'nome': 'leandro',
    'idade': 30,
    'cidade': 'Charlote'
}
pessoa3 = {
    'nome': 'irla',
    'idade': 31,
    'cidade': 'São Paulo'
}
lista_pessoas.append(pessoa2)
lista_pessoas.append(pessoa3)

In [96]:
lista_pessoas

[{'nome': 'vitor', 'idade': 30, 'cidade': 'BH'},
 {'nome': 'leandro', 'idade': 30, 'cidade': 'Charlote'},
 {'nome': 'irla', 'idade': 31, 'cidade': 'São Paulo'}]

Alterando valor em uma lista de dicionário

In [98]:
lista_pessoas[0]['nome'] = 'Lucas'

In [99]:
lista_pessoas

[{'nome': 'Lucas', 'idade': 30, 'cidade': 'BH'},
 {'nome': 'leandro', 'idade': 30, 'cidade': 'Charlote'},
 {'nome': 'irla', 'idade': 31, 'cidade': 'São Paulo'}]

In [100]:
for registro in lista_pessoas:
    registro['cidade'] = 'SP'

In [101]:
lista_pessoas

[{'nome': 'Lucas', 'idade': 30, 'cidade': 'SP'},
 {'nome': 'leandro', 'idade': 30, 'cidade': 'SP'},
 {'nome': 'irla', 'idade': 31, 'cidade': 'SP'}]

Adicionando uma lista em uma chave de um dicionário

In [102]:
lista_pessoas[0]['telefone'] = 123456789

In [103]:
lista_pessoas

[{'nome': 'Lucas', 'idade': 30, 'cidade': 'SP', 'telefone': 123456789},
 {'nome': 'leandro', 'idade': 30, 'cidade': 'SP'},
 {'nome': 'irla', 'idade': 31, 'cidade': 'SP'}]

***

##### Conjuntos 
Os conjuntos em Python são estruturas de dados que representam coleções de elementos únicos e não ordenados. Eles são úteis para operações que envolvem testes de pertencimento, remoção de duplicatas e operações de conjunto como união, interseção e diferença. Aqui estão algumas características importantes dos conjuntos:

- Elementos Únicos: Os conjuntos em Python não contêm elementos duplicados. Se você tentar adicionar um elemento que já está presente no conjunto, ele será ignorado.

- Não Ordenados: Os elementos em um conjunto não têm uma ordem específica. Isso significa que você não pode acessar elementos em um conjunto por índices como em listas e tuplas.

- Mutabilidade Limitada: Embora os elementos individuais em um conjunto sejam imutáveis (por exemplo, strings e tuplas), você pode adicionar e remover elementos de um conjunto.

- Eficiência em Testes de Pertencimento: Os conjuntos são otimizados para testes de pertencimento, o que significa que verificar se um elemento está presente em um conjunto é uma operação muito rápida.

Criação de um Conjunto

Para criar um conjunto, você pode usar chaves { } e listar os elementos separados por vírgulas.

In [104]:
conjunto = {8, 1, 5,7}

Remoção de Duplicatas de uma Lista

Você pode converter uma lista em um conjunto para remover elementos duplicados.

In [105]:
print(lista_numeros_novas)
conjunto_novo = set(lista_numeros_novas)
print(conjunto_novo)

[20, 15, 10, 2, 15]
{10, 2, 20, 15}

Adição de Elementos

Você pode adicionar elementos a um conjunto usando o método add().

In [106]:
conjunto_novo.add(14)
conjunto_novo

{2, 10, 14, 15, 20}

Remoção de Elementos

Você pode remover elementos de um conjunto usando os métodos remove() ou discard().

In [107]:
conjunto_novo.remove(14)

In [108]:
conjunto_novo

{2, 10, 15, 20}

In [109]:
conjunto_novo.discard(10)
conjunto_novo

{2, 15, 20}

Operações de Conjunto

Você pode realizar operações de conjunto como união, interseção e diferença.

In [111]:
conjunto1 = {1,2,3, 4}
conjunto2 = {4,5,6}

uniao = conjunto1 | conjunto2
print(uniao)

intersecao = conjunto1 & conjunto2
print(intersecao)

diferenca = conjunto1 - conjunto2
print(diferenca)

{1, 2, 3, 4, 5, 6}
{4}
{1, 2, 3}

Nota: A diferença entre dois conjuntos, denotada por conjunto1 - conjunto2, retorna um novo conjunto contendo todos os elementos que estão presentes no conjunto1 e não estão presentes no conjunto2. Em outras palavras, são todos os elementos que pertencem ao conjunto1 mas não pertencem ao conjunto2.

Nesse caso específico, a diferença será {1, 2}, pois os elementos 1 e 2 estão presentes em conjunto1 e não estão presentes em conjunto2. O elemento 3 não será incluído na diferença, pois ele está presente em ambos os conjuntos.


***

##### Séries
Uma série é uma estrutura de dados unidimensional que pode conter qualquer tipo de dados, como números inteiros, números de ponto flutuante, strings, entre outros. Cada elemento em uma série possui um rótulo associado, chamado de índice. A série pode ser vista como uma coluna em uma planilha ou uma matriz com apenas uma linha.

Exemplo no mundo real: Uma série pode representar as temperaturas registradas diariamente em uma cidade ao longo de um mês, onde cada temperatura está associada a uma data.

In [115]:
import pandas as pd

temperaturas = pd.Series([25, 28, 35, 40], index=['2024-04-01','2024-04-02','2024-04-03','2024-04-04'])
temperaturas

2024-04-01    25
2024-04-02    28
2024-04-03    35
2024-04-04    40
dtype: int64

##### DataFrames
Um DataFrame é uma estrutura de dados bidimensional semelhante a uma tabela de banco de dados ou uma planilha do Excel. Ele é composto por linhas e colunas, onde cada coluna pode ser de um tipo de dado diferente. Os DataFrames são altamente flexíveis e podem ser usados para armazenar e manipular dados heterogêneos.

Exemplo no mundo real: Um DataFrame pode representar dados de vendas de uma empresa, onde cada linha corresponde a uma transação e as colunas representam informações como o ID do cliente, o produto vendido, a quantidade vendida e o valor da venda.

In [116]:
lista_pessoas

[{'nome': 'Lucas', 'idade': 30, 'cidade': 'SP', 'telefone': 123456789},
 {'nome': 'leandro', 'idade': 30, 'cidade': 'SP'},
 {'nome': 'irla', 'idade': 31, 'cidade': 'SP'}]

In [119]:
df = pd.DataFrame(lista_pessoas)
df

      nome  idade cidade     telefone
0    Lucas     30     SP  123456789.0
1  leandro     30     SP          NaN
2     irla     31     SP          NaN

In [120]:
df.head()

      nome  idade cidade     telefone
0    Lucas     30     SP  123456789.0
1  leandro     30     SP          NaN
2     irla     31     SP          NaN

In [121]:
data= {
    'ID_cliente': [1,2,3,4],
    'Produto': ['camisa', 'calça', 'tenis', 'bone'],
    'quantidade': [2,1,3,1],
    'valor': [50,89,200,25]
}
df2=pd.DataFrame(data)
df2

   ID_cliente Produto  quantidade  valor
0           1  camisa           2     50
1           2   calça           1     89
2           3   tenis           3    200
3           4    bone           1     25

In [122]:
df2['valor_total_compra'] = df2['quantidade'] * df2['valor']
df2

   ID_cliente Produto  quantidade  valor  valor_total_compra
0           1  camisa           2     50                 100
1           2   calça           1     89                  89
2           3   tenis           3    200                 600
3           4    bone           1     25                  25